<!-- wp:template-part {"slug":"header","theme":"blockskit","tagName":"header"} /-->
<!-- wp:pattern {"slug":"blockskit/hero-banner"} /-->
<!-- wp:pattern {"slug":"blockskit/three-columns-featured"} /-->
<!-- wp:pattern {"slug":"blockskit/about"} /-->
<!-- wp:pattern {"slug":"blockskit/two-columns-featured"} /-->
<!-- wp:pattern {"slug":"blockskit/pricing"} /-->
<!-- wp:pattern {"slug":"blockskit/testimonial"} /-->
<!-- wp:pattern {"slug":"blockskit/post-grid"} /-->
<!-- wp:pattern {"slug":"blockskit/call-to-action"} /-->
<!-- wp:template-part {"slug":"footer","theme":"blockskit","tagName":"footer"} /-->