<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/ * Добавьте сюда свой CSS-код.

Например:
.пример {
     color: red;
}

Чтобы освежить свои знания CSS, посетите http://www.w3schools.com/css/css_syntax.asp

</style>
<!-- end Simple Custom CSS and JS -->
